{% extends 'dashboard/base.html' %}
{% block title%}Evaluations{% endblock %}
{% load static %}
{% block styling %}
<script src="{% static 'reviews/js/reviewsList.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="content">
    <h2>{{ employee.first_name }} {{ employee.last_name }}'s Evaluations</h2>
    <table id="reviews-detail-table">
        <thead>
            {% for field in fields.keys %}
                <th>{{ field | title }}</th>
            {% endfor %}
            <th>Average</th>
            <th>Date</th>
        </thead>
        {% for review in object_list %}
            <tr class="reviewScore-row">
                <td class="score">{{ review.attendance }}</td>
                <td class="score">{{ review.grooming }}</td>
                <td class="score">{{ review.punctuality }}</td>
                <td class="score">{{ review.attire }}</td>
                <td class="score">{{ review.teamwork }}</td>
                <td class="score">{{ review.initiative }}</td>
                <td class="score">{{ review.service }}</td>
                <td class="score">{{ review.quality }}</td>
                <td class="score">{{ review.productivity }}</td>
                <td><div id="avgScore"></div></td>
                <td>{{ review.created_at }}</td>
            </tr>
        {% endfor %}
            <tr id=avgRow>
                {% for value in avg.values %}
                    <td class="avgScore">{{ value }}</td>
                {% endfor %}
                <td>Averages</td>
            </tr>
    </table>
</div>
{% include "reviews/review_footer.html" %}
{% endblock %}
