{% extends 'dashboard/base.html' %}
{% block title%}Evaluations{% endblock %}
{% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'reviews/css/reviews_list.css' %}" type="text/css" media="screen">
<script src="{% static 'reviews/js/reviews_list.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="content">
    <table id="reviews-table">
        <thead>
            <th>ID</th>
            <th>Attendance</th>
            <th>Grooming</th>
            <th>Punctuality</th>
            <th>Attire</th>
            <th>Teamwork</th>
            <th>Initiative</th>
            <th>Service</th>
            <th>Quality</th>
            <th>Productivity</th>
            <th>Average</th>
            <th>Date</th>
        </thead>
        {% for review in object_list %}
            <tr class="reviewScore-row">
                <td><a href="{% url 'reviews:detail' review.employee.id %}"> 
                    {{ review.employee.first_name }} {{ review.employee.last_name }}
                </a></td>
                <td class="score">{{ review.attendance }}</td>
                <td class="score">{{ review.grooming }}</td>
                <td class="score">{{ review.punctuality }}</td>
                <td class="score">{{ review.attire }}</td>
                <td class="score">{{ review.teamwork }}</td>
                <td class="score">{{ review.initiative }}</td>
                <td class="score">{{ review.service }}</td>
                <td class="score">{{ review.quality }}</td>
                <td class="score">{{ review.productivity }}</td>
                <td><div id="avgScore"></div></td>
                <td>{{ review.created_at }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% include "reviews/review_footer.html" %}
{% endblock %}
