{% extends 'dashboard/base.html' %}
{% block title%}Evaluations{% endblock %}
{% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'reviews/css/reviewsList.css' %}" type="text/css" media="screen">
{% endblock %}
{% block content %}
<div class="content">
    <table>
        <tr>
            <th>ID</th>
            <th>Attendance</th>
            <th>Grooming</th>
            <th>Punctuality</th>
            <th>Attire</th>
            <th>Teamwork</th>
            <th>Initiative</th>
            <th>Customer Service</th>
            <th>Quality</th>
            <th>Productivity</th>
            <th>Average</th>
            <th>Date</th>
        </tr>
        {% for review in object_list %}
        <tr>
            <td>{{ review.employee_id }}</td>
            <td>{{ review.attendance }}</td>
            <td>{{ review.grooming }}</td>
            <td>{{ review.punctuality }}</td>
            <td>{{ review.attire }}</td>
            <td>{{ review.teamwork }}</td>
            <td>{{ review.initiative }}</td>
            <td>{{ review.service }}</td>
            <td>{{ review.quality }}</td>
            <td>{{ review.productivity }}</td>
            <td>--<div id="eval-avg"></div></td>
            <td>{{ review.created_at }}</td>
            
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
