{% extends 'dashboard/base.html' %}
{% block title%}Evaluations{% endblock %}
{% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'reviews/css/reviewsList.css' %}" type="text/css" media="screen">
<script src="{% static 'reviews/js/reviewsList.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="content">
    <h1>SO and So's reviews</h1>
    <table>
        <tr>
            <th>Attendance</th>
            <th>Grooming</th>
            <th>Punctuality</th>
            <th>Attire</th>
            <th>Teamwork</th>
            <th>Initiative</th>
            <th>Customer Service</th>
            <th>Quality</th>
            <th>Productivity</th>
            <th>Average</th>
            <th>Date</th>
        </tr>
        {% for review in object_list %}
        <tr class="reviewScore-row">
            <td class="score">{{ review.attendance }}</td>
            <td class="score">{{ review.grooming }}</td>
            <td class="score">{{ review.punctuality }}</td>
            <td class="score">{{ review.attire }}</td>
            <td class="score">{{ review.teamwork }}</td>
            <td class="score">{{ review.initiative }}</td>
            <td class="score">{{ review.service }}</td>
            <td class="score">{{ review.quality }}</td>
            <td class="score">{{ review.productivity }}</td>
            <td><div id="avgScore"></div></td>
            <td>{{ review.created_at }}</td>
            
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
