.content {
    height: 500px;
    overflow-y: auto;
    border: 1px solid black;
}
table {
    width: 100%;
}

#select-review {
    border-top: 1px solid black;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}