{% extends 'dashboard/base.html' %}
{% block title%}Evaluations{% endblock %}
{% load static %}
{% block styling %}
<!-- <link rel="stylesheet" href="{% static 'events/css/eventsList.css' %}" type="text/css" media="screen"> -->
{% endblock %}
{% block content %}
<div class="content">
    <h2>Events List</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Notes</th>
            <th>Day</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        {% for event in object_list %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.notes }}</td>
            <td>{{ event.day }}</td>
            <td>{{ event.start_time }}</td>
            <td>{{ event.end_time }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
