{% extends 'dashboard/base.html' %}
{% block title%}Event View{% endblock %}
{% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'events/css/eventsList.css' %}" type="text/css" media="screen">
{% endblock %}
{% block content %}
<h3 class="section_title">Events List</h3> 
<div class="content">
    {% if object_list %}
    <table id="events-table">
        <thead>
            <th>Title</th>
            <th>Notes</th>
            <th>Day</th>
            <th>Start</th>
            <th>End</th>
            <th>Actions</th>
        </thead>
        {% for event in object_list %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.notes }}</td>
            <td>{{ event.day }}</td>
            <td>{{ event.start_time }}</td>
            <td>{{ event.end_time }}</td>
            <td><a href="{% url 'events:update' event.id %}">Update</a>&nbsp|&nbsp
                <a href="{% url 'events:delete' event.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h1>No Events to View</h1>
        <a href="{% url 'events:create' %}" class="btn btn-primary">Create An Event</a>
    {% endif %}
</div>
{% endblock %}
