.content {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.box_title {
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-size: x-large;
}

label {
  margin-top: 5px;
  display: block;
}
.helptext {
  font-size: 8pt;
  font-weight: normal;
}
.response-msg {
  font-size: larger;
}

li {
  list-style: none;
}