.content {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.box_title {
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  background-color: aqua;
  font-size: x-large;
}
.newForm,
.viewForm {
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
}
button {
  margin: 10px;
  background-color: #4caf50; /* Green */
  /* background: linear-gradient(to bottom, ##99ff99 0%, ##33cc33 100%) */
  border: 2px solid black;
  box-shadow: 5px 10px 10px grey;
  border-radius: 10px;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  cursor: pointer;
}
label {
  margin-top: 5px;
  display: block;
}
.helptext {
  font-size: 8pt;
  font-weight: normal;
}
.response-msg {
  font-size: larger;
}
#error {
  color: red;
}
#success {
  color: blue;
}
