<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <title>{% block title %}TaskManager Home{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}" type="text/css" media="screen"/>
    {% block styling %}{% endblock %}
  </head>
  <body class="container">
    <section class="section-tabs">
      <div class="dropdown">
        <button class="dropbtn tab">Manage Tasks</button>
        <div class="dropdown-content">
          <a href="#">View Tasks</a>
          <a href="#">Edit Tasks</a>
          <a href="#">View Reminders</a>
          <a href="#">Edit Reminders</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn tab">Employee Data</button>
        <div class="dropdown-content">
          <a href="{% url 'employees:index' %}">View Employees</a>
          <a href="{% url 'employees:create' %}">Create Employees</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn tab">Staff Evaluations</button>
        <div class="dropdown-content">
          <a href="{% url 'reviews:index' %}">See Reviews</a>
          <a href="{% url 'reviews:create' %}">Create Review</a>
          <!-- <a href="{% url 'reviews:update' %}">Edit Reviews</a> -->
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn tab">Calendar Events</button>
        <div class="dropdown-content">
          <a href="{% url 'events:index' %}">View Calendar</a>
          <a href="{% url 'events:create' %}">Add Events</a>
          <a href="{% url 'events:list' %}">View Events</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn tab">Schedules</button>
        <div class="dropdown-content">
          <a href="#">View Schedules</a>
          <a href="#">Edit Schedules</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </section>
    <section class="employee-id">
      <div class="emp-img">
        <div id="img">Img</div>
        <a href="" id="change-img">Change Image</a>
      </div>
      <div class="emp-name">
        <h2>Employee Name</h2>
        <button type="submit" action="#" class="btn btn-primary">Logout</button>
      </div>
    </section>
    <section class="qotd">
      <h2>Today's Inspiration</h2>
      <h3>{{ quote.text }}</h3>
      <p>{{ quote.author }}</p>
    </section>
    <section class="schedule-table">
      <h2>Today's Schedule</h2>
      <table>
        <tr>
          <th>In</th>
          <th>Out</th>
          <th>Name</th>
          <th>Role</th>
        </tr>
        <tr>
          <td>5:00</td>
          <td>5:00</td>
          <td>Joaquin Pheonix</td>
          <td>Role</td>
        </tr>
      </table>
    </section>
    <main>
      <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <h3 {% if message.tags %} class="response-msg" id="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        {% endif %}
      </div>
      {% block content%}{% endblock %}
    </main>
    <section class="task-list">
      <h2>Today's Assignments</h2>
    </section>
    <section class="weekly-todo">
      <h3 class="day">Sunday</h3>
      <h3 class="day">Monday</h3>
      <h3 class="day">Tuesday</h3>
      <h3 class="day">Wednesday</h3>
      <h3 class="day">Thursday</h3>
      <h3 class="day">Friday</h3>
      <h3 class="day">Saturday</h3>
    </section>
  </body>
</html>
