{% extends 'dashboard/base.html' %} {% block title%}Employees{% endblock %}
{%load static %} {% block styling %}
<link
  rel="stylesheet"
  href="{% static 'employees/css/base_employees.css' %}"
  type="text/css"
  media="screen"
/>
<script
  src="{% static 'employees/js/base_employees.js' %}"
  type="text/javascript"
></script>
{% endblock %} {% block content %}
<div class="content">
  <table id="employee-table">
    <thead>
      <th>Employee #</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Start Date</th>
      <th>Action</th>
    </thead>
    {% for employee in employeeList %}
    <tr>
      <td>{{ employee.emp_num }}</td>
      <td>{{ employee.username|capfirst }}</td>
      <td>{{ employee.first_name|capfirst }}</td>
      <td>{{ employee.last_name|capfirst }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.phone_number }}</td>
      <td>{{ employee.start_date }}</td>
      <td id="action-link"><a href="edit/{{ employee.pk }}">Edit Info</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
