{% extends 'dashboard/base.html' %}
{% block title%}View Employee{% endblock %}
{% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'employees/css/employees_form.css' %}" type="text/css" media="screen">
<script src="{% static 'employees/js/employees_form.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <h3 class="section_title">Update Existing Employee</h3>
    <div class="content">
        <div class="employee_form">
            <form action="{% url 'employees:update' employees.pk %}">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Update</button>
                <a href="{% url 'employees:delete' employee.pk %}" class="btn btn-warning" >Delete</a>
            </form>
        </div>
    </div>
{% endblock %}