{% extends 'dashboard/base.html' %}
{% block title%}View Employee{% endblock %}
{% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'employees/css/editEmployees.css' %}" type="text/css" media="screen">
<script src="{% static 'employees/js/editEmployees.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h3 class="box_title">Create New Employee</h3>
<div class="content">
    <div class="newForm">
        <form action="{% url 'employees:create' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
{% endblock %}