* {
  /* normalizations */
  vertical-align: baseline;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.content {
  width: auto;
  height: 550px;
  margin: auto;
  overflow-y: scroll;
  border: 1px solid black;
}
.shifts-table-content {
  height: 440px;
}
/* Table elements across all sections */

thead th {
  position: sticky;
  top: 0;
  background-color: white;
  height: 20px;
  border-bottom: 2px black solid;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}
th {
  font-size: large;
  border-bottom: 1px solid black;
}
td,th {
  border: 1px solid black;
  padding: 3px;
}
td {
  font-size:medium;
}
/* End Table Styling */
.table-footer {
  border-top: 1px solid black;
  height: 40px;
  
}
section, .day {
  border: 1px solid black;
}
.container {
  width: auto;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 0.7fr 2fr 2fr 2.3fr 3fr;
  grid-template-areas:
    "section section section"
    "employee-id main tasks"
    "quote main tasks"
    "schedule main tasks"
    "schedule week week";
  align-items: stretch;
}
.section-tabs {
  display: flex;
  grid-area: section;
  justify-content: space-evenly;
  background-color: silver;
  border-bottom: 2px solid black;
}
.employee-id {
  grid-area: employee-id;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
#img {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.qotd {
  grid-area: quote;
}
.schedule-table {
  grid-area: schedule;
}
main {
  grid-area: main;
  min-height: 550px;
  max-height: 600px
}
.task-list {
  grid-area: tasks;
}
.weekly-todo {
  display: flex;
  grid-area: week;
  justify-content: space-evenly;
}
.day {
  flex: auto;
  width: 3rem;
}
#change-img {
  font-size: small;
}
.tab-box {
  display: flex;
  justify-content: space-between;
}
#error {
  color: red;
}
#success {
  color: blue;
}
.btn:hover {
  cursor: pointer;
}
.btn {
  margin: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px grey;
  border-radius: 5px;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-primary {
  background-color: blue;
}
.btn-success {
  background-color: #4caf50;
}
.btn-warning {
  background-color: red;
}
.btn-secondary {
  background-color: steelblue;
}
h2 {
  font-size: larger;
}
h3 {
  font-size: x-large;
}
.helptext {
  display: block;
  font-size: 8pt;
}
/* Form template styling */

.form {
  margin: auto;
  margin-top: 2rem;
}
p {
  margin: 10px;
}
.box_title {
  font-size: x-large;
}
.btn {
  margin-bottom: 10px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #046daa;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: 1px solid black;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #4ab8f8;}